
{% if pve_keyboard is defined and pve_keyboard != "" %}
keyboard: {{ pve_keyboard }}
{% endif %}
{% if pve_language is defined and pve_language != "" %}
language: {{ pve_language }}
{% endif %}
{% if pve_http_proxy is defined and pve_http_proxy != "" %}
http_proxy: {{ pve_http_proxy }}
{% endif %}
{% if pve_console is defined and pve_console != "" %}
console: {{ pve_console }}
{% endif %}
{% if pve_dc_description is defined and pve_dc_description != "" %}
description: {{ pve_dc_description }}
{% endif %}
{% if pve_email_from is defined and pve_email_from != "" %}
email_from: {{ pve_email_from }}
{% endif %}
{% if pve_cluster_fencing is defined and pve_cluster_fencing != "" %}
fencing: {{ pve_cluster_fencing }}
{% endif %}
{% if pve_mac_prefix is defined and pve_mac_prefix != "" %}
mac_prefix: {{ pve_mac_prefix }}
{% endif %}
{%+ if pve_migration is defined and pve_migration != {} %}
mirgation: 
{%- for key,value in pve_migration.items() %}
{{ key }}={{ value }}
{%- if loop.index != pve_migration|length %},{% endif %}
{% endfor %}
{% endif +%}
{% if pve_ha_shutdown_policy is defined and pve_ha_shutdown_policy != "" %}
ha: shutdown_policy={{ pve_ha_shutdown_policy }}
{% endif %}
{% if pve_crs is defined and pve_crs != {} %}
crs: 
{%- for key,value in pve_crs.items() %}
{{ key }}={{ value }}
{%- if loop.index != pve_crs|length %},{% endif %}
{% endfor %}
{% endif +%}
{% if pve_wa is defined and pve_wa != {} %}
webauthn: 
{%- for key,value in pve_wa.items() %}
{{ key }}={{ value }}
{%- if loop.index != pve_wa|length %},{% endif %}
{% endfor %}
{% endif +%}
{% if pve_bwlimit is defined and pve_bwlimit != {} %}
bwlimit: 
{%- for key,value in pve_bwlimit.items() %}
{{ key }}={{ value }}
{%- if loop.index != pve_bwlimit|length %},{% endif %}
{% endfor %}
{% endif +%}
{% if pve_max_workers is defined and pve_max_workers != "" %}
max_workers: {{ pve_max_workers }}
{% endif %}
{% if pve_next_id is defined and pve_next_id != {} %}
next-id: 
{%- for key,value in pve_next_id.items() %}
{%- if loop.index == 1 %} {% endif %}
{{ key }}={{ value }}
{%- if loop.index != pve_next_id|length %},{% endif %}
{% endfor %}
{% endif +%}
{% if pve_notify is defined and pve_notify != {} %}
notify: 
{%- for key,value in pve_notify.items() %}
{{ key }}={{ value }}
{%- if loop.index != pve_notify|length %},{% endif %}
{% endfor %}
{% endif +%}
{% if pve_tag_style is defined and pve_tag_style != {} %}
tag-style: 
{%- for key,value in pve_tag_style.items() %}
{{ key }}={{ value }}
{%- if loop.index != pve_tag_style|length %},{% endif %}
{% endfor %}
{% endif +%}
{% if pve_user_tag_access is defined and pve_user_tag_access != {} %}
user-tag-access: 
{%- for key,value in pve_user_tag_access.items() %}
{{ key }}={{ value }}
{%- if loop.index != pve_user_tag_access|length %},{% endif %}
{% endfor %}
{% endif +%}
{% if pve_registered_tags is defined and pve_registered_tags != {} %}
registered-tags: 
{%- for tag in pve_registered_tags %}
{{ tag }}
{%- if loop.index != pve_registered_tags|length %};{% endif %}
{% endfor %}
{% endif %}
