# configure physical interfaces
{% for interface in pve_interfaces|sort() %}
{% for bridge in pve_bridges %}
{% if interface != bridge.name %}
{% if interface == "lo" %}
auto lo
iface lo inet loopback

{% else %}
{% if interface.name is defined %}
auto {{ interface.name }}
iface {{ interface.name }} inet static
        address  {{ interface.address }}
        netmask {{ interface.netmask }}
        gateway {{ interface.gateway }}
{% if interface.additional_configs is defined %}
{% for parameter in interface.additional_configs %}
        {{ parameter }}
{% endfor %}
{% endif %}

{% else %}
iface {{ interface }} inet manual

{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
{% if pve_bridges is defined %}
# configure bridges
{% for bridge in pve_bridges|sort(attribute="name") %}
auto {{ bridge.name }}
iface {{ bridge.name }} inet static
        address {{ bridge.address }}
        netmask {{ bridge.netmask }}
{% if pve_interfaces.name is not defined %}
        gateway {{ bridge.gateway }}
{% endif %}
        bridge-ports {{ bridge.ports }}
        bridge-stp {{ bridge. stp}}
        bridge-fd {{ bridge.fd }}
{% if bridge.additional_configs is defined %}
{% for parameter in bridge.additional_configs %}
        {{ parameter }}
{% endfor %}
{% endif %}

{% endfor %}
{% endif %}
source /etc/network/interfaces.d/*
