dir: local
        path /var/lib/vz
        content images,snippets,backup,rootdir,vztmpl,iso
        prune-backups keep-all=1
{% for storage in pve_storages %}

dir: {{ storage.name }}
{% if not storage.enable %}
        disable
{% endif%}
        path {{ storage.path }}
{% if storage.content == {} %}
        content images
{% else %}
        content {% for content in storage.content %}
{% if content == "Disk image" %}images{% endif %}
{% if content == "Snippets" %}snippets{% endif %}
{% if content == "VZDump backup file" %}backup{% endif %}
{% if content == "Container" %}rootdir{% endif %}
{% if content == "Container template" %}vztmpl{% endif %}
{% if content == "ISO image" %}iso{% endif %}
{% if loop.index != storage.content|length %},{% endif %}
{% endfor %}
{% endif %}

{% if storage.nodes is defined and storage.nodes != {} %}
        nodes {% for node in storage.nodes %}{{ node }}{% if loop.index != storage.content|length %},{% endif %}{% endfor %}

{% endif %}
{% if storage.shared %}
        shared 1
{% else %}
        shared 0
{% endif %}
{% if storage.keep_all_backups %}
        prune-backups keep-all=1
{%- else %}
        prune-backups
{%- for key,value in storage.backup_policy.items() %}
{%- if loop.index == 1 %} {% endif %}
{{ key }}={{ value }}
{%- if loop.index != storage.backup_policy|length %},{% endif %}
{% endfor %}
{% endif %}

{% if storage.max_protected_backups is defined %}
        max-protected-backups {{ storage.max_protected_backups }}
{% endif %}
{% endfor %}